<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div id="app">
            <h1>{{titulo}}</h1>
            <ul>
                <li v-for="nombre of nombres">{{nombre}}</li>
            </ul>

            <ul>
                <li v-for="auto of autos">
                    <input type="number" v-model.number="auto.modelo">
                    {{auto.marca}} : {{auto.modelo}}
                    <button @click="auto.modelo++">+</button>
                    <span v-if="auto.modelo == 0"> - IS 0</span>
                </li>
            </ul>

            <input type="text" v-model="nuevo_auto" @keyup.enter="agregarAuto">
            <button @click="agregarAuto">Agregar</button>

            <h4>Total: {{total}}</h4>

        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js"></script>
    
</html>