<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div id="app">
            <h1>{{titulo}}</h1>
            <ul>
                <li v-for="nombre of nombres">{{nombre}}</li>
            </ul>

            <ul>
                <li v-for="auto of autos">
                    {{auto.marca}} : {{auto.modelo}}
                    <span v-if="auto.modelo == T3"> - No T3</span>
                </li>
            </ul>

            <input type="text" v-model="nuevo_auto">
            <button @click="agregarAuto">Agregar</button>

        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js"></script>
    
</html>